name: Test Container - RabbitMq

on:
  workflow_dispatch:
  push:
    branches: 
      - 'main'
    paths:
      - 'rabbitmq/**'
  pull_request:
    branches: 
      - 'main'
    paths: 
      - 'rabbitmq/**'

jobs:
    test-container:
      name: 'Test Container'
      uses: raschmitt/dev-containers/.github/workflows/test-container.yml@main
      with:
        container-name: rabbitmq
        